<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>DoGood !</mat-card-title>
      </mat-card-header>
        <mat-card-content>
              DoGood est une plateforme collaborative pour toute activités à but non lucratif ou assossiatif, le principe est simple, Si vous êtes intéréssé pour participer à une activité ou tache, Il suffit de voir sur la carte tout ce qu'il y'a de proche de chez vous. <br>
              Si vous etes intéréssé pour proposer des activités ou taches, la plateforme permet aussi d'ajouter (toujours à l'aide de la carte) ces dérnieres la ou vous le voulez !
        </mat-card-content>
    </mat-card>
</div>