<div class="parent" style="overflow:auto;">
    <div class="div1">
        <mat-card  class="wrapper">
            <mat-card-title>Rechercher une tache</mat-card-title>

                <mat-form-field class="filter">
                    <input type="text"  placeholder="Adresse" matInput class="filter" [matAutocomplete]="auto" [ngModel] ="address" (ngModelChange) ="address=$event;getGpsCoordinateFromAdress($event)" />
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let singleAddress of addressList"  [value] = "singleAddress['display_name']">
                        {{singleAddress['display_name']}}
                    </mat-option>
                </mat-autocomplete>

                <mat-form-field class="filter">
                    <input type="number" min="0" matInput placeholder="Rayon" [(ngModel)]="radius" (input)="updateCenterPerimeter(radius)">
                </mat-form-field>

                <mat-list>
                    <div *ngFor="let marker of markerList">                    
                        <mat-list-item ><a mat-button (click)="routeTo(marker)">{{marker.title}}</a></mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
        </mat-card>
    </div>

    <div class="div2">
            <div id="map" ></div>
     </div>
</div>