.main-container{
    margin: 2%;
    height: 100%;
    top: 10px;
    bottom: 10px;
}
.map-wrapper {
    position: absolute;
    top: 80px;
    bottom: 1%;
    left: 1%;
    right: 1%;
    padding: 0.5%;
  }
  
  .map-border {
    border: 5px solid orange;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  .adresse{min-width:65%;max-width:300px;width:65%;margin: 1%;}
  .perimetre{min-width:25%;max-width:300px;width:25%;margin: 1%;}