.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.box {
  position: relative;
  word-wrap: break-word;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}
